<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to CatBook, <%= @cat.name %>!</h1>
    <p>
      We hope you enjoy your time at CatBook and meet a lot of kitties
    </p>
  </body>
</html>
